{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
	<div class="background"></div>
	<div class="form-egresado">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-md-7">
					<div class="box">
						{% for message in messages %}
							<div class="alert alert-{{ message.tags }}">
								{{ message|safe }}
							</div>
						{% endfor %}
						<h2>{{ title_form }}</h2>
						<form action="{{ url }}" method="POST">
							{% csrf_token %}
							{% for item in form %}
								<div class="form-group">
									<label>{{ item.label }}</label>
									{{ item }}
								</div>
							{% endfor %}
							<div class="form-group text-center">
								<div class="g-recaptcha" data-sitekey="6LdTlnoUAAAAAO_hpNlXFBepn9Q1-eNXNUx2VahK"></div>
								<button type="submit" class="btn btn-block btn-primary">Enviar</button>
								{% if user %}
									<br>
									<hr>
									<small>
										<a href="{% url 'lista_egresados' %}">Lista de egresados</a>
									</small>
								{% endif %}
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script>
		grecaptcha.ready(function() {
			grecaptcha.execute('6LdTlnoUAAAAAO_hpNlXFBepn9Q1-eNXNUx2VahK', {action: 'action_name'})
			.then(function(token) {
				alert('OE')
			});
		});
</script>
{% endblock content %}